<!DOCTYPE html>
<html>
<head>
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/startstop-slider.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #3c7669;
            border-color: #080808;
        }

        #div-footer {
            position: fixed;
            text-align: center;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 100%;
            background-color: aquamarine;
        }

        li.format-hello {
            padding-top: 15px;
            color: white;
        }

        #animation-top5:hover {
            color: white;
            text-shadow: 1px 1px 2px gray, 0 0 25px red, 0 0 5px red;
        }
       
    </style>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Need help?</span> call us <span class="number">1-22-3456789</span></span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        <li><a href="/LoginUser/Register">Register</a></li>
                        <li><a href="/LoginUser/Index">Login</a></li>
                        <li><a href="/OrderDetail/GroupByTop5">History</a></li>
                        <li>
                            <span>
                                <a href="/ShoppingCart/ShowCart">
                                    <img src="@Url.Content("~/Content/images/cart2.png")" style="height:30px;width:30px;margin-top:10px;" />
                                </a>
                            </span>
                            @Html.Action("BagCart", "ShoppingCart")

                        </li>
                        <li class="format-hello" style="color:black">
                            @if (Session["NameUser"] == null)
                            {
                    <span>Hello</span> }
                                else
                                {
                    <span><text>Hello </text>@Session["NameUser"]</span>}
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="https://localhost:44304/Home/Index">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="delivery.html">Delivery</a></li>
                        <li><a href="news.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        
                        <div class="clear"></div>
                    </ul>
                </div>
                
                <div class="clear"></div>
            </div>
            <div class="container-fluid body-content">
                <div class="row">
                    <div class="col-md-2">
                        <h3>Categories</h3>
                        
                        <ul class="categories">
                            <li>
                                <a href="~/Product/SearchOption" class="btn btn-default">Search theo giá</a>
                            </li>
                        </ul>
                        @{ Html.RenderAction("CategoryPartial", "Categories");}
                    </div>
                    <div class="col-md-10" id="div-content">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="wrap">
                    <div class="section group">
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Customer Service</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="delivery.html">Orders and Returns</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>Why buy from us</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="contact.html">Customer Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="contact.html">Site Map</a></li>
                                <li><a href="#">Search Terms</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>My account</h4>
                            <ul>
                                <li><a href="contact.html">Sign In</a></li>
                                <li><a href="index.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="contact.html">Help</a></li>
                            </ul>
                        </div>
                        <div class="col_1_of_4 span_1_of_4">
                            <h4>Contact</h4>
                            <ul>
                                <li><span>+91-123-456789</span></li>
                                <li><span>+00-123-000000</span></li>
                            </ul>
                            <div class="social-icons">
                                <h4>Follow Us</h4>
                                <ul>
                                    <li><a href="#" target="_blank"><img src="~/Content/images/facebook.png" alt="" /></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/images/twitter.png" alt="" /></a></li>
                                    <li><a href="#" target="_blank"><img src="~/Content/images/skype.png" alt="" /> </a></li>
                                    <li><a href="#" target="_blank"> <img src="~/Content/images/dribbble.png" alt="" /></a></li>
                                    <li><a href="#" target="_blank"> <img src="~/Content/images/linkedin.png" alt="" /></a></li>
                                    <div class="clear"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copy_right">
                    <p>&copy; 2013 home_shoppe. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $().UItoTop({ easingType: 'easeOutQuart' });

                });
            </script>
            <a href="#" id="toTop"><span id="toTopHover"> </span></a>
            <script src="~/Scripts/script.js"></script>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>


@*<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-inverse {
            background-color: #3c7669;
            border-color: #080808;
        }

        #div-footer {
            position: fixed;
            text-align: center;
            bottom: 0;
            left: 0;
            padding-top: 15px;
            height: 50px;
            width: 100%;
            background-color: aquamarine;
        }

        li.format-hello {
            padding-top: 15px;
            color: white;
        }

        #animation-top5:hover {
            color: white;
            text-shadow: 1px 1px 2px gray, 0 0 25px red, 0 0 5px red;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <span>
                            <a href="/ShoppingCart/ShowCart">
                                <img src="@Url.Content("~/Content/images/cart2.png")" style="height:30px;width:30px;margin-top:10px;" />
                            </a>
                        </span>
                        @Html.Action("BagCart", "ShoppingCart")

                    </li>
                    <li><a href="/LoginUser/Register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li><a href="/LoginUser/Index"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    <li><a href="@Url.Action("LogOut","LoginUser") ">LogOut</a></li>
                    <li class="format-hello">
                        @if (Session["NameUser"] == null)
                        {
                            <span>Hello</span>
                        }
                        else
                        {
                            <span><text>Hello</text>@Session["NameUser"]</span>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-md-2">
                <ul style="text-decoration:none;background-color:greenyellow;margin-top:20px;list-style-type:none;padding:10px;">
                    <li><a href="/OrderDetail/GroupByTop5" style=" color:white" ;id="animation-top5">Top 5 sản phẩm bán chạy nhất</a> </li>
                </ul>
                <ul style="list-style-type:none">
                    <li>
                        <a href="~/Product/SearchOption" class="btn btn-default">Search theo giá</a>
                    </li>
                </ul>
                @{ Html.RenderAction("CategoryPartial", "Categories");}
            </div>
            <div class="col-md-10" id="div-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="div-footer">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </div>

    <script src="~/Scripts/script.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>*@

